name: UI Tests

on:
  workflow_dispatch:     

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: JS-PlayWright
        run: npm ci

      - name: Install Playwright browsers
        working-directory: JS-PlayWright
        run: npx playwright install --with-deps

      - name: Run UI tests
        working-directory: JS-PlayWright
        run: |
          npx playwright test || true     # щоб був звіт, навіть якщо будуть падати тести

      - name: Generate Allure report
        working-directory: JS-PlayWright
        run: |
          npx allure generate allure-results --clean -o allure-report

      - name: Upload report to GitHub Pages
        uses: actions/upload-pages-artifact@v3
        with:
          path: JS-PlayWright/allure-report

  deploy:
    needs: ui-tests
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
