name: Tests & Allure reports

on:
  workflow_dispatch:
    inputs:
      run-ui:
        description: "Run Playwright UI tests"
        type: boolean
        default: true
      run-api:
        description: "Run Postman API tests"
        type: boolean
        default: false

  push:
    branches: [ "main" ]
    paths:
      - "JS-PlayWright/**"
      - "Postman/**"
      - ".github/workflows/tests.yml"

  schedule:
    - cron: "30 6 * * *"

jobs:
  # UI: Playwright + Allure
  ui_tests:
    name: UI tests (Playwright)
    runs-on: ubuntu-latest

    if: github.event_name != 'workflow_dispatch' || github.event.inputs.run-ui == 'true'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"

      - name: Install UI dependencies
        working-directory: JS-PlayWright
        run: |
          npm ci
          npx playwright install --with-deps

      - name: Run Playwright tests
        working-directory: JS-PlayWright
        run: npx playwright test

      - name: Generate Allure report (UI)
        working-directory: JS-PlayWright
        run: |
          npx allure generate allure-results --clean -o allure-report

      - name: Upload Allure UI report
        uses: actions/upload-artifact@v4
        with:
          name: allure-ui
          path: JS-PlayWright/allure-report

  # API: Postman + Newman + Allure
  postman_tests:
    name: API tests (Postman + Newman)
    runs-on: ubuntu-latest

    if: github.event_name == 'workflow_dispatch' && github.event.inputs.run-api == 'true'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Use Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"

      - name: Install Newman, Allure reporter and Allure CLI
        run: |
          npm install -g newman newman-reporter-allure allure-commandline

      - name: Run Postman collection with Newman
        run: |
          newman run Postman/Users_API_tests.postman_collection.json \
            --reporters cli,allure \
            --reporter-allure-resultsDir Postman/allure-results

      - name: Generate Allure report (API)
        run: |
          allure generate Postman/allure-results --clean -o Postman/allure-report

      - name: Upload Allure API report
        uses: actions/upload-artifact@v4
        with:
          name: allure-api
          path: Postman/allure-report
